body{
	background-color: #eee;
	margin: 0;

	-ms-touch-action: none;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: moz-none;
	-ms-user-select: none;
	user-select: none;
}

#main-wrapper{
	position: absolute;
	overflow: visible;
}

#main-wrapper canvas{
	position: absolute;
	left:0;
	top:0;
	z-index: 1;
}

.video-wrapper{
	position: absolute;
	z-index: 3;
	width: 100%;
	height: 100%;
}

.video-wrapper video{
	position: absolute;;
}

#loading{
	margin-left: -25px;
	position: absolute;
	width: 50px;
	height: 50px;
	top: 50%;
	margin-top: -25px;
	left: 50%;
	background-color: rgba(0,0,0,0.9);
	text-align: center;
	vertical-align: middle;

	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	padding: 0;
}
#loading img{
	padding: 17px;
}

#error{
	position: absolute;
	width:300px;
	left:50%;
	top:50%;
	margin-left: -150px;
	margin-top: -100px;
	background-color: rgba(0,0,0,0.9);
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;

	color: #fff;
	text-align: center;

	padding-top: 30px;
	padding-bottom: 30px;
}

#glyph{
	position: absolute;
	pointer-events:none;
	z-index:5;
}

#login-box{
	width: 100%;
	height: 100%;
	position: relative;
	background: rgba(0,0,0,0.3);
	z-index: 3;
}

#login-box iframe{
	border: 0;
	width: 100%;
	height: 100%;
	max-width: 500px;
	max-height: 500px;
	position: relative;
	margin: 0 auto;
	display: block;
	top: 10%;
}

.hidden{
	display: none;
}